
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{% block fulltitle %} FULLTITLE {% endblock %}</title>

    {% block css %}
      <link href="{{ base_url }}css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ base_url }}css/dashboard.css" rel="stylesheet">
      {% block extra_css %}
      {% endblock %}
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% block index_url %}#{% endblock %}">{% block title %} TITLE {% endblock %}</a>
        <!--
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
          </li>
        </ul>
        -->
      </nav>
    {% endblock %}

    <div class="container-fluid">
      <div class="row">

        {% block content_left %}
          templates/html/base.html - block content_left
        {% endblock %}

        {% block content %}
         templates/html/base.html - block content
        {% endblock %}

      </div>
    </div>

    <footer class="fixed-bottom">
      <div class="container footer">
        {% block footer %}
          <span class="text-muted">Place sticky footer content here.</span>
        {% endblock %}
      </div>
    </footer>

    {% block js %}
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="{{ base_url }}js/jquery-slim.min.js"><\/script>')</script>
      <script src="{{ base_url }}/js/popper.min.js"></script>
      <script src="{{ base_url }}/js/bootstrap.min.js"></script>

      <!-- Icons -->
      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
      <script>
        feather.replace()
      </script>

      {% block extra_js %}
      {% endblock %}
    {% endblock %}
  </body>
</html>
