{% extends 'html/recipe_detail.html' %}

{% block content_detail %}
    <h4>Build status</h4>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>TODO:</strong> Parse appveyor.yml and .travis.yml to know if we are building all expected configurations (show as matrix).
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {% set status = recipe.get_travis_status(branch=recipe.active_branch) %}
    <p>Travis: <a href="{{ status.url }}"><img alt="{{ status.status }}" src="{{ status.image_url }}"/></a></p>

    {% set status = recipe.get_appveyor_status(branch=recipe.active_branch) %}
    <p>Appveyor: <a href="{{ status.url }}"><img alt="{{ status.status }}" src="{{ status.image_url }}"/></a></p>


    {% set tables, _, _ = recipe._grab_warnings(branch=recipe.active_branch) %}
    {% for section, table in tables.items() %}
        <h4>{{ section }}</h4>
        <table class="table">
            {% if table['headers'] %}
                <thead>
                    <tr>
                        {% for title in table['headers'] %}
                            <th scope="col">{{ title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            {% for row in table['rows'] %}
                <tr>
                    {% for item in row %}
                        {% if loop.first %}
                            <th scope="row" class="text-nowrap">{{ item }}</th>
                        {% else %}
                            <td>{{ item }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}