{% extends 'html/base.html' %}

{% block index_url %}{{ organization.url }}{% endblock %}
{% block title %}{{ organization }}{% endblock %}
{% block fulltitle %}Conan community | {{ organization }}{% endblock %}

{% block content_left %}
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Recipes</span>
        <a class="d-flex align-items-center text-muted" href="#"></a>
      </h6>
      <ul class="nav flex-column">
        {% for recipe in organization.get_recipes() %}
            <li class="nav-item">
              <a class="nav-link" href="{{ recipe.get_url(branch=False) }}">
                <span data-feather="file-text"></span>
                {{ recipe }}
              </a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{% endblock %}


{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

      <h1 class="h2">
        {{ object }}
      </h1>
      {% block content_toolbar %}
      {% endblock %}
    </div>

    {% block content_detail %}
      html/organization_detail.html -- This could be a dashboard
    {% endblock %}

    <pre><code>
      {{ object.dump() }}
    </code></pre>
    Generation done at {{ now() }}
  </main>
{% endblock %}