
{% extends 'html/organization_detail.html' %}

{% block content_toolbar %}
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="{{ recipe.get_url(branch=False) }}" role="button">Index <span data-feather="home"></span></a>
    </div>
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="{{ recipe.get_github_url() }}" role="button">Github <span data-feather="external-link"></span></a>
        {% set bintray_pck=recipe.get_bintray_package(branch=recipe.active_branch) %}
        {% if bintray_pck %}
            <a class="btn btn-sm btn-outline-secondary" href="{{ bintray_pck.url }}" role="button">Bintray <span data-feather="external-link"></span></a>
        {% endif %}
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id="branchesMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span data-feather="git-branch"></span>
        {% if recipe.active_branch %}
            {{ recipe.active_branch }}
        {% else %}
            Branches
        {% endif %}
    </button>
    <div class="dropdown-menu" aria-labelledby="branchesMenuButton">
        {% for branch in recipe.get_branches() %}
            <a class="dropdown-item" href="{{ recipe.get_url(branch=branch) }}">
                {{ branch }}
                {% set n_errors = recipe.count_errors(branch=branch) %}
                {% if n_errors %}<span class="numberCircle numberCircle-error"><span>{{ n_errors }}</span></span>{% endif %}
                {% set n_warnings = recipe.count_warnings(branch=branch) %}
                {% if n_warnings %}<span class="numberCircle numberCircle-warning"><span>{{ n_warnings }}</span></span>{% endif %}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content_detail %}
    <h4>Github project configuration:</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Issues {{ error_false(recipe._repo.has_issues, "No issues in project repositories") }}</td>
                <td>{{ recipe._repo.has_issues }}</td>
            </tr>
            <tr>
                <td>Projects {{ warning_false(recipe._repo.has_projects, "No projects in repositories") }}</td>
                <td>{{ recipe._repo.has_projects }}</td>
            </tr>
            <tr>
                <td>Wiki {{ warning_false(recipe._repo.has_wiki, "No wiki in repositories") }}</td>
                <td>{{ recipe._repo.has_wiki }}</td>
            </tr>
        </tbody>
    </table>

    <h4>Github project -vs- Bintray</h4>
    {% set bintray_repo=recipe.get_bintray_repo() %}
    {% if bintray_repo %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Github</th>
                    <th scope="col">Bintray</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">name</th>
                    <td>{{ recipe._repo.name }}</td>
                    <td>{{ bintray_repo.name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-nowrap">
                        description
                        {{ error_eq(recipe._repo.description, bintray_repo.desc) }}
                    </th>
                    <td>{{ recipe._repo.description }}</td>
                    <td>{{ bintray_repo.desc }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-nowrap">
                        homepage
                        {{ error_eq(recipe._repo.homepage, bintray_repo.website_url) }}
                    </th>
                    <td>{{ recipe._repo.homepage }}</td>
                    <td>{{ bintray_repo.website_url }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-nowrap">
                        topics
                        {{ error_eq(recipe._repo.get_topics(), bintray_repo.labels) }}
                    </th>
                    <td>{{ recipe._repo.get_topics() }}</td>
                    <td>{{ bintray_repo.labels }}</td>
                </tr>
                <tr>
                    <th scope="row" class="text-nowrap">
                        license
                        {{ error_eq(recipe.get_license(), bintray_repo.licenses) }}
                    </th>
                    <td>{{ recipe.get_license() }}</td>
                    <td>{{ bintray_repo.licenses }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>Error retrieving bintray_repo.</p>
    {% endif %}

    <h4>Summary of errors</h4>
    <table class="table">
    {% for level, branch, msg in recipe._grab_warnings(branch=None) %}
        <tr>
            <td>{{ level }}</td>
            <td>{{ branch }}</td>
            <td>{{ msg }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

